<div class="container-content">
  <div class="container-content_header modal-header1" mat-dialog-title>
    <p class="header d-flex flex-column">
      <span>Thả ga chi tiêu,</span>
      <span> hoàn tiền cực đã</span>
    </p>
    <img matDialogClose class="close-icon" src="../../../assets/close-pop-up.png" alt="close pop up">
  </div>
  <br>
  <!-- <p class="modal-body">
    Ngoài ưu đãi cố định từng thẻ, chủ
    thẻ tín dụng VPBank còn được hoàn
    tiền như sau:<br><br>

    - Khách hàng có giao dịch thanh
    toán hợp lệ trong thời gian khuyến
    mại và đạt Mức chi tiêu tương ứng
    sẽ được hoàn tiền như sau:<br>

    • Hoàn tiền 200,000VNĐ/Khách hàng
    khi đạt Mức chi tiêu 1 tương ứng;<br>
    • Hoàn tiền 500,000VNĐ/Khách hàng
    khi đạt Mức chi tiêu 2 tương ứng.<br><br><br>


    - Đối với nhóm KH có lịch sử chi
    tiêu 3 tháng gần nhất < 4,000,000
    VNĐ<br>
    • Mức chi tiêu 1: Từ 4,000,000 VNĐ
    đến dưới 9,000,000 VNĐ;<br>
    • Mức chi tiêu 2: Từ 9,000,000 VNĐ
    trở lên.<br><br>


    - Đối với nhóm KH có lịch sử chi tiêu
    3 tháng gần nhất từ 4,000,000 VNĐ
    đến nhỏ hơn 7,000,000 VNĐ<br>
    • Mức chi tiêu 1: Từ 9,000,000 VNĐ đến
    dưới 12,000,000 VNĐ;<br>
    • Mức chi tiêu 2: Từ 12,000,000 VNĐ
    trở lên<br><br>


    Đối tượng áp dụng ưu đãi:<br>
    Chủ thẻ thực hiện thanh toán bằng thẻ
    tín dụng cá nhân VPBank và được nhận
    truyền thông qua Email hoặc tin nhắn
    SMS hoặc VPBank NEO hoặc cuộc gọi
    mời tham gia chương trình từ VPBank.<br><br>


    Thời gian ưu đãi: Từ 01/11/2023 đến
    hết 31/12/2023
  </p> -->
  <p class="modal-body">
    Ngoài ưu đãi cố định từng thẻ, chủ thẻ tín dụng VPBank còn được hoàn tiền như sau:
    <br>
    <br>
    - Khách hàng có giao dịch thanh toán hợp lệ trong thời gian khuyến mại và đạt Mức chi tiêu tương ứng sẽ được hoàn tiền như sau:
    <br>
    • Hoàn tiền 200,000VNĐ/Khách hàng khi đạt Mức chi tiêu 1 tương ứng;
    <br>
    • Hoàn tiền 500,000VNĐ/Khách hàng khi đạt Mức chi tiêu 2 tương ứng.
    <br>
    <br>
    <br>

    - Đối với nhóm KH có lịch sử chi tiêu 3 tháng gần nhất < 4,000,000 VNĐ
    <br>
    • Mức chi tiêu 1: Từ 4,000,000 VNĐ đến dưới 9,000,000 VNĐ;
    <br>
    • Mức chi tiêu 2: Từ 9,000,000 VNĐ trở lên.
    <br>
    <br>

    - Đối với nhóm KH có lịch sử chi tiêu 3 tháng gần nhất từ 4,000,000 VNĐ đến nhỏ hơn 7,000,000 VNĐ
    <br>
    • Mức chi tiêu 1: Từ 9,000,000 VNĐ đến dưới 12,000,000 VNĐ;
    <br>
    • Mức chi tiêu 2: Từ 12,000,000 VNĐ trở lên
    <br>
    <br>

    Đối tượng áp dụng ưu đãi:
    <br>
    Chủ thẻ thực hiện thanh toán bằng thẻ tín dụng cá nhân VPBank và được nhận truyền thông qua Email hoặc tin nhắn SMS hoặc VPBank NEO hoặc cuộc gọi mời tham gia chương trình từ VPBank.
    <br>
    <br>

    Thời gian ưu đãi: Từ 01/11/2023 đến hết 31/12/2023
  </p>
  <div class="mobile-static-button__container modal-footer">
    <button class="mobile-static-button" (click)="openCard()">
      Mở thẻ ngay
      <img src="../../../assets/Vector-white.png" alt="continue-icon">
    </button>
  </div>
</div>
