<div class="container-content">
  <div class="container-content_header  modal-header1" mat-dialog-title>
    <p class="header d-flex flex-column">
      <span>Ưu đãi thẻ tín dụng </span>
      <span>Platinum Cash Back</span>
    </p>
    <img matDialogClose class="close-icon" src="../../../assets/close-pop-up.png" alt="close pop up">
  </div>
  <div class="container-content ">

    <div class="laptop-content modal-body">
      <br>
      Hạn mức đến 1 tỷ đồng Cơ chế hoàn tiền
      của thẻ tín dụng VPBank Platinum Cashback:
      <ul>
        <li>Hoàn 0,5%: Cho tổng chi tiêu từ 0 đến

          dưới 30 triệu đồng/kỳ sao kê.
        </li>
        <li>Hoàn 1%: Cho tổng chi tiêu từ 30 đến

          dưới 90 triệu đồng/kỳ sao kê.
        </li>
        <li>
          Hoàn 2%: Cho tổng chi tiêu từ 90 đến

          dưới 120 triệu đồng/kỳ sao kê.
        </li>
        <li>
          Hoàn 3%: Cho tổng chi tiêu từ 120 triệu

          trở lên/ kỳ sao kê.
        </li>
        <li>
          Doanh số giao dịch ngoại tệ được nhân đôi.
        </li>
        <li>
          Hoàn tối đa 2 triệu đồng/ kỳ sao kê.
        </li>
        <li>
          Tổng chi tiêu tối thiểu được hoàn tiền: 10 triệu đồng
        </li>
      </ul>
      <br>
      <b>Miễn phí thường niên</b>
      <br><br>
      <ul>
        <li>Năm đầu tiên cho thẻ chính nếu thẻ

          chính có phát sinh giao dịch chi tiêu tối

          thiểu 2 triệu đồng trong vòng 30 ngày kể

          từ ngày mở thẻ.
        </li>
        <li>Năm tiếp theo cho thẻ chính nếu có tổng

          doanh số giao dịch của thẻ chính và thẻ

          phụ trong năm hiện tại đạt từ 150 triệu đồng
        </li>
        <li>
          Miễn phí thường niên năm đầu tiên cho thẻ phụ
        </li>
      </ul>
      <br>
      <b>Miễn lãi 45 ngày</b>
      <br><br>
    </div>
    <div class="mobile-static-button__container modal-footer">
      <button class="mobile-static-button" (click)="openCard()">
        Mở thẻ ngay
        <img src="../../../assets/Vector-white.png" alt="continue-icon">
      </button>
    </div>
  </div>

</div>
