<div class="container-content">
  <div class="container-content_header modal-header1" mat-dialog-title>
    <p class="header d-flex flex-column">
      <span>Ưu đãi thẻ tín dụng </span>
      <span>Shopee Platinum</span>
    </p>
    <img matDialogClose class="close-icon" src="../../../assets/close-pop-up.png" alt="close pop up">
  </div>
  <div class="laptop-content modal-body">
    <br>
    <b>Hoàn tiền cho Khách hàng có tổng chi tiêu từ 2 triệu trở lên trên một kỳ sao kê:</b>
    <br>
    <br>
    <ul>
      <li>Hoàn tiền 6% giao dịch chi tiêu tại Shopee và ShopeeFood. Giá trị tiền hoàn tối đa: 250,000 VNĐ/tháng.</li>
      <li>Hoàn tiền 1% cho giao dịch chi tiêu Ăn
        uống, siêu thị (Co.op, Big C, Lotte Mart, Winmart) , Di chuyển (Grab,Be). Giá trị tiền hoàn tối đa: 150,000 VNĐ/tháng.
      </li>
      <li>Hoàn tiền 0.1% cho các giao dịch chi tiêu khác. Không giới hạn số tiền được hoàn.</li>
    </ul>
    <br>
    <b>Nhiều quà tặng Online:</b>
    <br><br>
    Tặng quà chào mừng là Shopee E-voucher trị giá 200,000 VND cho KH mở thẻ tín dụng

    Shopee Platinum và đạt tổng doanh số chi

    tiêu 1 triệu VND trở lên trong vòng 30 ngày từ khi mở thẻ.
    <br><br>
    Lưu ý: Doanh số chi tiêu để xét quà chào

    mừng dựa trên ngày hệ thống VPBank ghi

    nhận thành công giao dịch (posted date), vì

    vậy KH nên chi tiêu đạt doanh số trước 1

    tuần so với thời hạn quy định.
    <br><br>
    <b>Miễn phí vận chuyển quanh năm:</b>
    <br><br>

    Tặng 02 mã miễn phí vận chuyển (tối đa

    : 30,000 VND/mã) mỗi tháng, áp dụng cho

    cho đơn hàng từ 300,000 VND.(*)
    <br><br>
    <b>Chạm tay mở thẻ ngay:</b>
    <br><br>
    <ul>
      <li>Miễn phí thường niên năm đầu tiên (áp dụng cho cả thẻ chính và thẻ phụ)</li>
      <li>Không thu phí thường niên năm tiếp

        theo của thẻ chính nếu tổng doanh số

        giao dịch thanh toán thẻ chính và thẻ

        phụ trong năm liền trước đạt từ 50 triệu VND trở lên.
      </li>
      <li>Tính năng mở thẻ phi vật lý nhanh chóng và thuận tiện.</li>
    </ul>
    <br><br>
  </div>
  <div class="mobile-static-button__container modal-footer">
    <button class="mobile-static-button" (click)="openCard()">
      Mở thẻ ngay
      <img src="../../../assets/Vector-white.png" alt="continue-icon">
    </button>
  </div>
</div>
