@import "../../../styles-variables";

.container-content {
    padding: 20px 10px;

    .container-content_header {
        display: flex;

    }

    pre {
        color: var(--color-content-neutral-medium, #6F6F6F);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: -0.14px;
        display: none;
        @media only screen and (min-width: $tablet) and (max-width: $large-laptop) {
            display: inline-block;
        }
    }

    .mobile-static-button {
        background-color: black;
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
        color: white;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}
