.popup-pdf-view{
    width: 98vw;
    height: 87vh;
    .btn-close{
        height: 36px;
        border: none;
        background: none;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .document-container{
        width: 100%;
        height: calc(100% - 40px);
        background-color: #ABABAB;
    }
    //.document-container, .canvasWrapper, .page, .textLayer, .pdf-view{
    .pdf-view{
        height: 100% !important;
        width: 100% !important;
    }
}
::ng-deep{
    .pdfViewer.removePageBorders .page {
        margin-bottom: 2px!important;
    }
}
