<div class="container-content">
  <div class="container-content_header modal-header1" mat-dialog-title>
    <p class="header d-flex flex-column">
      <span>Giảm 1.500.000 đồng</span>
      <span>với Iphone 15 series</span>
    </p>
    <img matDialogClose class="close-icon" src="../../../assets/close-pop-up.png" alt="close pop up">
  </div>
  <br>
  <p class="modal-body">
    Nội dung chi tiết:<br>

    Giảm 1,500,000 VNĐ khi đặt hàng trước
    hoặc mua trực tiếp sản phẩm iPhone 15
    Series & thanh toán bằng thẻ tín dụng
    VPBank tại FPT Shop, Cellphones,
    Hoàng Hà Mobile.
    <br>
    <br>
    <br>

    Thời gian áp dụng: 22/09/2023 đến hết
    31/12/2023 hoặc cho đến khi hết ngân
    sách dành cho Chương trình (tùy theo
    điều kiện nào đến trước).
    <br>
    <br>

    Chi tiêt ưu đãi xem tại website VPBank
  </p>
  <p class="laptop-content modal-body">
    Nội dung chi tiết:
    <br>
    Giảm 1,500,000 VNĐ khi đặt hàng trước
    hoặc mua trực tiếp sản phẩm iPhone 15
    Series & thanh toán bằng thẻ tín dụng
    VPBank tại FPT Shop, Cellphones, Hoàng
    Hà Mobile.
    <br>
    <br>
    <br>

    Thời gian áp dụng: 22/09/2023 đến hết
    31/12/2023 hoặc cho đến khi hết ngân
    sách  dành cho Chương trình (tùy theo
    điều kiện nào đến trước).
    <br>
    <br>

    Chi tiêt ưu đãi xem tại website VPBank
    <br>
  </p>
  <div class="mobile-static-button__container modal-footer">
    <button class="mobile-static-button" (click)="openCard()">
      Mở thẻ ngay
      <img src="../../../assets/Vector-white.png" alt="continue-icon">
    </button>
  </div>
</div>
