<div class="container-content">
  <div class="container-content_header modal-header1" mat-dialog-title>
    <p class="header d-flex flex-column">
      <span>Ưu đãi thẻ tín dụng Z</span>
    </p>
    <img matDialogClose class="close-icon" src="../../../assets/close-pop-up.png" alt="close pop up">
  </div>
  <div class="laptop-content modal-body">
    Tính năng nổi bật
    <br><br>
    <b>Hoàn tiền 10% cho mọi chi tiêu:</b>
    <br><br>
    <ul>
      <li>
        Hoàn 10% cho giao dịch Ăn uống (*), tối đa 200,000- Hoàn 10% cho giao dịch Giải trí, Fitness (*), tối đa 200,000
        đồng.
      </li>
      <li>
        Hoàn 10% cho các giao dịch Gọi xe, Đặt đồ ăn (*), tối đa 100,000 đồng.
      </li>
    </ul>
    Áp dụng cho Khách hàng có tổng doanh số giao dịch từ 4 triệu/kỳ sao kê trở lên(*)
    <br>
    <br>
    Danh mục hoàn tiền sẽ tuân theo các mã danh mục được nêu cụ thể tại thể lệ ưu đãi.
    <br>
    <br>
    <b>Ưu đãi trả góp 0% tại mọi cửa hàng:</b>
    <br>
    <br>
    <ul>
      <li>
        Miễn phí chuyển đổi trả góp 0% kỳ hạn 6
        tháng cho các giao dịch chi tiêu (giao

        dịch quẹt thẻ tại máy POS và giao dịch

        trực tuyến) thực hiện bằng thẻ chính

        trong vòng 3 tháng kể từ tháng mở thẻ chính
      </li>
      <li>
        Áp dụng cho giao dịch từ 3.000.000 VNĐ trở lên
      </li>
    </ul>
    <b>Quà tặng chào mừng:</b>
    <br>
    <br>
    Hoàn tiền 300.000 VND cho Khách hàng
    mở thẻ chính thẻ tín dụng VPBank Z JCB và

    đạt tổng doanh số giao dịch từ 2 triệu VND

    trở lên trong vòng 30 ngày mở thẻ.
    <br>
    <br>
        <b>Miễn phí thường niên:</b>
    <br>
    <br>
    <ul>
      <li>Năm đầu tiên cho thẻ chính khi thẻ chính có từ 3 giao dịch chi tiêu trong vòng 30 ngày đầu sau khi mở thẻ (mỗi giao dịch từ 200.000 VNĐ).</li>
      <li>Năm tiếp theo cho thẻ chính nếu có tổng chi tiêu của cả thẻ chính và thẻ phụ trong năm hiện tại đạt từ 80 triệu đồn.</li>
    </ul>

  </div>
  <div class="mobile-static-button__container  modal-footer">
    <button class="mobile-static-button" (click)="openCard()">
      Mở thẻ ngay
      <img src="../../../assets/Vector-white.png" alt="continue-icon">
    </button>
  </div>
</div>
